<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ManejoContabilidad.Wpf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ManejoContabilidad.Wpf.Properties.Settings>
            <setting name="InvoiceDb" serializeAs="String">
                <value>Data Source=localhost; Initial Catalog=InvoiceManagement; TrustServerCertificate=true; Trusted_Connection=true</value>
            </setting>
            <setting name="Excel_Client_Row" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Excel_Client_Col" serializeAs="String">
                <value>A</value>
            </setting>
            <setting name="Excel_Invoice_Row" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Excel_Invoice_Col" serializeAs="String">
                <value>A</value>
            </setting>
            <setting name="Excel_Date_Row" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Excel_Date_Col" serializeAs="String">
                <value>A</value>
            </setting>
            <setting name="Excel_Price_Row" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="Excel_Price_Col" serializeAs="String">
                <value>A</value>
            </setting>
            <setting name="RecognizerEndpoint" serializeAs="String">
                <value>Recognizer URL</value>
            </setting>
            <setting name="ExcelFile" serializeAs="String">
                <value>C:\Users\andre\Desktop\ExcelTest.xlsx</value>
            </setting>
            <setting name="RecognizerKey" serializeAs="String">
                <value>key</value>
            </setting>
            <setting name="RecognizerModel" serializeAs="String">
                <value>model</value>
            </setting>
        </ManejoContabilidad.Wpf.Properties.Settings>
    </userSettings>
</configuration>